body {
  margin: 40px;
  background-color: #2471A3;
}

.sidebar {
	grid-area: sidebar;
	height: 1000px;
	width: 350px;
	background-color: #C0C0C0;
	margin-right: 100px;
}

.content {
	grid-area: content;
	width: 70%;
	height: 1000px;
	
}

.header {
	grid-area: header;
	background-color: cyan;
	height: 120px;
}

.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 80px 80px 80px;
	grid-template-areas:
	"header header header header header"
	"..... sidebar content content ....";
	background-color: #fff;
	color: #444;
}

h5{

}

#head{
	display: flex;
	box-sizing: content-box;
	justify-content: center;
	padding-bottom: 30px;
}

#content2{
	padding-left: 350px;
}

#sidebar2{
	padding-top: 5px;
	
}

#wBorder {
	border: 3px solid white;
    border-collapse: separate;
    border-spacing: 15px;
}

#workExperience{
	padding-left:30px
}

#skillz{
	border-bottom: 0px solid black;
	height:320px;
}


.items {
	overflow: hidden;
}
.items .item {
	float: left;
	width: 50%;
}

.image{
	width: 25px;
	height:auto;
}

.contact{
	border-bottom: 2px solid black;
	padding-bottom: 30px;
}

.mainCategory{
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}

.pic {
	width: 50%;
	height:auto;
	border-radius: 50%;
}

.box {
  color: black;
  border-radius: 8px;
  padding: 10px;
  font-size: 120%;
}